# Matches ALL Makefile and Makefile.in occurrences 
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
*.o
*.Po
src/test/.deps/
*~
src/test/test_data
src/test/test_strfTIM
src/test/test_format
src/test/test_writer
src/test/test_hdrtrie
src/test/output.log
src/test/test.log
src/varnishevent
src/vcs_version.h
*.1
stamp-h1
src/test/*.log
src/test/*.trs
compile
test-driver
